@model VehicleData.VehicleModel

@{
    ViewData["Title"] = "Vehicle Details";
}

<h2>Vehicle Details</h2>
<hr />
<h4>Id: @Model.Id</h4>
<h4>Name: @Model.Name</h4>
<h4>Type: @Model.Type</h4>
<h4>Tire Count: @Model.TireCount</h4>
<br />
<h5>@ViewBag.Message</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VehicleDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelLevel" class="control-label"></label>
                <input asp-for="FuelLevel" class="form-control" />
                <span asp-validation-for="FuelLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <input asp-for="Type" type="hidden" class="form-control" />
            <input asp-for="TireCount" type="hidden" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VehicleList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
