@model IEnumerable<VehicleData.VehicleModel>

@{
    ViewData["Title"] = "VehicleList";
}

<h2>Vehicle List</h2>
<hr />
<p>
    <a asp-action="VehicleCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FuelLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TireCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mileage)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TireCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.ActionLink("Edit", "VehicleDetail", new { id = item.Id }) |
                @Html.ActionLink("Delete", "VehicleDelete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
